#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#fact-container {
  margin-top: 20px;
}

.image {
    width: 300px;
    height: auto;
}

.image {
    width: 200px;
    height: auto;
}


