#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#fact-container {
  margin-top: 20px;
}

.image {
  width: 200px;
  height: auto;
}

.image-gallery {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
}

.image-gallery img {
  margin: 10px;
  max-height: 400px;
  max-width: 400px;
}

.img-container {
  position: relative;
  float: left;
}

.img-container .edited {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.img-container:hover .edited {
  display: block;
}

.comment {
  border: thin solid black;
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 600px;
}

.comment span {
  flex-grow: 1;
}
