#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#fact-container {
  margin-top: 20px;
}

.image {
    width: 300px;
    height: auto;
}

.image {
    width: 200px;
    height: auto;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-gallery img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

.imageBox:hover .edited {
    display: block;
}

.imgContainer {
  position: relative;
  float: left;
}

.imgContainer .edited {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imgContainer:hover .edited {
  display: block;
}